<div class="month-data">

    <div class="month-name">
        <span>{{month.monthNumber | numberToMonth}} {{month.monthYear}}</span>
    </div>

    <div class="month-tables">
        <app-table *ngFor="let table of month.tables" [table]="table" [monthYear]="month.monthYear"
            [monthNummber]="month.monthNumber" (sumUpdated)="sumUpdated(table.tableName, $event)"></app-table>
    </div>

</div>



<div class="month-calculations">
 
    <div class="card" *ngFor="let calculation of month.calculations;  let i = index" [ngClass]="calculation.name">
      
      
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-light bg-secondary" [ngClass]="{'bg-secondary': calculation.name === 'Total Count', 
            'bg-success': calculation.name === 'Insta',
            'bg-danger': calculation.name === 'Tiktok',
            'bg-primary': calculation.name === 'Youtube'}">
                {{calculation.name}}
             
            </li>
        
            <li class="list-group-item">{{calculation.value}} </li>
        </ul>
    </div>
</div>